@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
:root {
  --primary-color: #c4c4c4;
  --color-body: #000;
  --font-family: "Roboto", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--color-body);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Button */

.App {
  display: flex;
  flex-direction: row;
}
.container {
  background: var(--primary-color);
  margin-top: 6rem;
}
.users-container {
  padding: 1rem;
}
.posts-container {
}
.users-list {
}
.selectedUserPanel {
  flex: 1;
}
