body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-color: #e5e5e5;
  --secondary-color: ;
}
ul {
  list-style-type: none;
}
button {
  background: white;
}
.App {
  display: flex;
  flex-direction: row;
}
.container {
  background: var(--primary-color);
  padding: 1rem;
}
.users-list {
}
.selectedUserPanel {
  flex: 1;
}
